.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink{
    background: pink;
}

.blue{
    background: blue;
}
#app{
    color:rgb(212, 210, 238);
    width: 150px;
}
#app a{
    text-decoration: none;
    color: rgb(212, 210, 238);
    font-size: 35px;
    font: "Times New Roman";
    margin-left: 20px;
    padding: 15px;
}
#zagolovok{
    color: white;
    font-size: 40px;
    text-align: center;


}
a:hover {
    background: #25292c; 
    color: rgb(0, 0, 0); 
    margin-left: 55px;
   }
button{
    color: rgb(212, 210, 238);
    padding: 15px;
    margin-left: 20px;
    font-size: 32px;
    background:rgb(24, 26, 27);
    outline: none;
    border:rgb(24, 26, 27);

}
button:hover {
    background: #25292c; 
    color: rgb(212, 210, 238); 
   }
span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}