.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink{
    background: pink;
}

.blue{
    background: blue;
}
#app{
    color:rgb(212, 210, 238);
}
#app a{
    text-decoration: none;
    color: rgb(212, 210, 238);
<<<<<<< HEAD
    font-size: 30px;
    font: "Times New Roman";
=======
>>>>>>> 79a7b26f6848725a316852b838e0fc85bb3c3355
}
#zagolovok{
    font-size: large;

}
a:hover {
    background: #50a4e9; 
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(208, 208, 255);
   }
