<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
    <link rel="stylesheet" href="css/register.css" type="text/css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="heead"></div>
        <p id="zagolovok">NKVD</p>
    </div>
    <div id="register">
        <input placeholder="Login" v-model="log" type="text">
        <p><input placeholder="Password" v-model="pass" type="password"></p>
        <p><input placeholder="Confirm Password" type="password"></p>
        <p><input placeholder="Email" v-model="mail" type="email"></p>
        <button @click="Зарегистрировались">Register</button>
    </div>
</body>
    <script src="js/main.js"></script>
</html>
<style>
    body { background:rgb(24, 26, 27); } 
</style>